body {
    font-family: 'Inter', sans-serif;
}
.hero-bg {
    background-color: #1a202c;
    background-image: url("assets/back.jpg"); 
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-size: auto;
}
.section-title {
    border-bottom: 3px solid #4a5568;
    padding-bottom: 8px;
    display: inline-block;
}
